* {
  margin: 0, auto;
  overflow: auto;
}
html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  /* border-left-style: 1px solid black; */
  /* border-right-style: 1px solid black; */
}
body {
  width: 50%;
  margin: 60px auto;
  font-weight: lighter;
  /* text-align: center; */
  /* border-left: 1px solid black; */
  /* border-right: 1px solid black; */
  /* padding: 20px; */
  background: #4a6c6f;
}
.welcome h1 {
  width: max-content;
  font-size: 65px;
  height: 80px;
  margin: 30px auto;
  color: #534;
  /* text-decoration: underline; */
}
p {
  line-height: 150%;
  font-size:120%;
  color:#534;
}
h3 {
  /* text-decoration: underline; */
  color: #645;
  font-size:190%;
}

div {
  padding: 20px;
  background:rgba(245, 245, 220, 0.98);
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
a {
  background: rgb(46, 42, 56);
  color: aliceblue;
  border-radius: 5px;
  text-decoration: none;
  padding: 5px;
}
a:hover {
  background-color: aliceblue;
  color: rgb(46, 42, 56);
  border-radius: 5px;
  text-decoration: none;
  padding: 5px;
}
/* End style */
.tools h2 {
  color: #846075;
  text-decoration: underline;
}
.image {
  overflow: hidden;
  width:fit-content;
  height: 100%;
  text-align:center;
  margin: 30px auto;
  border-radius: 5px;
  background:#756;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.image img {
  max-width: 100%;
  margin:0 auto;
  height: 100%;
}
.welcome {
  background: rgba(245, 245, 220); 
  /* border-top: 0.5px solid black; */
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
/* End Class Styles */ ;
