*{
    margin: 0, auto;
}
html{
    font-family:Arial, Helvetica, sans-serif;
    font-size:large;
    
    
}
body{
    width:50%;
    margin:150px auto;
    font-weight:lighter;
}
h1{
    width:max-content;
    font-size:80px;
    height:80px;
    margin:30px auto;
}
p{
    line-height:150%;
}